.cards__list {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 413px);
  justify-content: center;
  gap: 40px 20px;
  margin: 0;
  border-bottom: 1px #212121 solid;
  padding: 20px 0 40px;
  list-style-type: none;
}
