.card {
  max-width: 413px;
  min-height: 445px;
  position: relative;
  
}

.card__image {
  width: 100%;
  height: 413px;
  border-radius: 8px;
  object-fit: cover;
}
.card__content {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 0;
}
.card__description {
  max-width: 350px;
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__like-btn {
  width: 23px;
  height: 20px;
  background-image: url(../images/Union.svg);
  background-color: #fcf5e5;
  border: none;
  opacity: 40%;
  cursor: pointer;
  background-repeat: no-repeat;
}
.card__like-btn:hover {
  opacity: 1;
}
.card__like-btn_liked{
background-image: url(../images/liked.svg);
opacity: 1;
}
.card__like-btn_liked:hover{
  background-image: url(../images/liked-hover.svg);

}
.card__trash-button {
  background: transparent url(../images/trash-btn.svg) center no-repeat;
  position: absolute;
  border: none;
  border-radius: 50%;
  transition: 0.8s;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  
}

.card__trash-button:hover {
  background: transparent url(../images/trash-btn-hovered.svg) center no-repeat;
  opacity: 0.5;
}



@media screen and (max-width: 627px) {
  
  .card {
    max-width: 288px;
    min-height: 318px;
  }
  .card__image {
    height: 288px;
    width: 288px;
   
  }
  .card__description{
    max-width: 250px;
    font-size: 16px
  }

}
